<header class="bg-zinc-900 flex flex-col md:flex-row text-center md:text-left p-20 gap-3 rounded-xl">
  <div>
    <h1 class="text-5xl font-bold">Protege tu contraseña</h1>
    <p class="my-4 text-2xl">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime ut cum
      hic reiciendis adipisci voluptates similique ea. Porro voluptatem, commodi
      iure, ipsam facere autem quos cupiditate quam ipsum deserunt fugiat.
    </p>
    <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400 rounded"> Empieza Ahora</button>
  </div>
  <img src="/public/images/fingerprint.svg" alt="" class="w-80" />
</header>
