---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de mí">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem
    esse aperiam repellat, enim quibusdam magnam numquam expedita quos ullam
    beatae in mollitia magni, sapiente possimus dolorum fugiat eveniet ad.
    Voluptatum! Repellat, officiis nisi quaerat magni nihil iure minus numquam,
    voluptatem, voluptates odio labore? Suscipit quas unde tempora dignissimos
    et nulla sed facilis, deleniti obcaecati vel nam autem ipsum magnam
    voluptatibus? Excepturi illo, a impedit saepe veritatis animi facere est ex
    architecto nam velit provident sit, nihil omnis autem ab iste dolores
    voluptate dignissimos labore amet consequatur? Quisquam laborum dolores
    sunt? Laudantium fugiat aliquid nam debitis dolorem temporibus explicabo
    doloremque odit at fuga dolore mollitia, non eius. Aut sit laborum ut
    asperiores praesentium accusantium dolorum, culpa perspiciatis amet
    laudantium a sed. Exercitationem molestias similique quidem aperiam eum
    quaerat perspiciatis quasi. Ad dignissimos temporibus, adipisci praesentium
    voluptas deserunt nihil qui ipsa cupiditate unde alias, asperiores, autem et
    dolor enim quos veritatis eum. Nihil dolorem iusto culpa, vitae cumque dicta
    at veritatis voluptatem quaerat, ex enim? Hic, similique. Velit deleniti
    sapiente voluptatem accusamus consequuntur harum eligendi consequatur nihil.
    Corporis autem repudiandae delectus eos? Reiciendis ea nesciunt ipsa
    delectus iure nulla ducimus ullam error nostrum laudantium maiores nisi odit
    voluptatem magnam officia, repellendus soluta voluptatum modi provident
    fugiat dignissimos eaque deleniti. Beatae, soluta quas? Eveniet fugit
    distinctio porro itaque dolore ab facere labore, possimus nisi sed
    cupiditate cumque odit incidunt laudantium deleniti blanditiis! Adipisci
    ipsa quaerat quis repudiandae praesentium at hic eveniet alias officiis?
    Molestiae, sunt doloremque iure laudantium animi aliquam odit. Eum, nam,
    vitae aperiam distinctio repellendus harum, rem obcaecati earum tempora
    ducimus voluptates eveniet odio facere saepe consectetur animi inventore sed
    velit. Explicabo, unde minus cum provident dignissimos voluptates
    consequuntur? Possimus a sunt eligendi doloribus ipsa ad, molestiae minus
    animi blanditiis, minima optio aperiam vero maiores dolorem? Eius explicabo
    aperiam pariatur id!
  </p>
</Layout>
